pkgbase = hive-bin
	pkgdesc = Folder-as-agent pipeline for autonomous software tasks
	pkgver = <%= version %>
	pkgrel = 1
	url = https://github.com/ivankuznetsov/hive
	install = hive.install
	arch = x86_64
	arch = aarch64
	license = MIT
	provides = hive
	conflicts = hive
	conflicts = apache-hive
	source_x86_64 = https://github.com/ivankuznetsov/hive/releases/download/v<%= version %>/hive-<%= version %>-linux-x86_64-gnu.tar.gz
	sha256sums_x86_64 = <%= sha256_linux_x86_64_gnu %>
	source_aarch64 = https://github.com/ivankuznetsov/hive/releases/download/v<%= version %>/hive-<%= version %>-linux-aarch64-gnu.tar.gz
	sha256sums_aarch64 = <%= sha256_linux_aarch64_gnu %>

pkgname = hive-bin
